.container {
    background-color: aqua;
    margin: 50px;
}

.mainText {
    background-color: azure;
}

.listWrap {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 10px;
}

.listElement {
    background-color: blueviolet;
    margin: 10px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.listElement:hover {
    transform: scale(1.05);
}

.elText {
    background-color: beige;
    margin-top: 10px;
    font-size: 20px;
}