.container {
    background-color: #5c5c5c;
    border-radius: 20px;
    margin: 30px;
    box-shadow: 5px 5px 5px black;
}

.mainText {
    color: #eee;
    font-size: 24px;
    padding:20px 0px 0px 20px;
}

.listWrap {
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 10px;
    transform: translateX(-250px);
    transition: transform 0.3s ease-out;
}

.listContainer {
    min-width: 250px;
    max-width: calc(100vw - 470px);
    overflow: hidden;
    padding-bottom: 10px;
}

.arrowBtn {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0px 0px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrowBtn:hover {
    cursor: pointer;
    background-color: #eee;
}
.arrowBtn:active {
    background-color: #bbb;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.listElement {
    background-color: #eee;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.listElement:hover {
    transform: scale(1.05);
}

.elText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
}