* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 124px;
    display: flex;
    flex-direction: row;

    height: 2000px;
}

/* #8296A1, #4E5B61, #B6D2E0, #C0DEED, #A1BAC7 */